@keyframes diagonal-left {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-20px, 20px);
    }
  }
  
.animate-diagonal-left {
    animation: diagonal-left 0.5s linear infinite alternate;
}

@keyframes car {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(300px);
    }
  }
  
.animate-car {
    animation: car 3s linear infinite;
}

.fondo {
  background-image: url('https://cdn.pixabay.com/photo/2017/06/05/11/01/airport-2373727_1280.jpg');
  background-size: cover; 
  background-position: center; 
}   

